<div class="flat">
  <div class="width_f">
    <div class="online_reg_notice">
      <div class="usa-accordion-bordered">
        <ul class="usa-unstyled-list">
          <li>
            <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
              <%= I18n.t('txt.requirements') %>
            </button>
            <div id="collapsible-0" aria-hidden="true" class="usa-accordion-content">
              <p><span class="bold"><%= I18n.t('txt.state_requirements') %></span</p>
              <ul>
                <li><%= raw I18n.t('txt.state_requirements_1') %></li>
                <li><%= raw I18n.t('txt.state_requirements_2') %></li>
                <li><%= raw I18n.t('txt.state_requirements_6') %></li>
                <li><%= raw I18n.t('txt.state_requirements_3') %></li>
                <li><%= raw I18n.t('txt.state_requirements_4') %></li>
                <li><%= raw I18n.t('txt.state_requirements_5') %></li>
              </ul>
              <p><%= raw I18n.t('txt.americans_abroad') %></p>
              <p><%= raw I18n.t('txt.first_time') %>:</p>
              <ul>
                <li><%= raw I18n.t('txt.first_time_photo_id') %></li>
                <li><%= raw I18n.t('txt.first_time_other_id') %></li>
              </ul>
              <p><%= raw I18n.t('txt.voters_exempt') %>:</p>
              <ul>
                <li><%= raw I18n.t('txt.voters_additional') %></li>
                <li><%= raw I18n.t('txt.voters_do_not') %></li>
              </ul>
            </div>
          </li>
          <li>
            <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-1">
              <%= raw I18n.t('txt.instructions') %>
            </button>
            <div id="collapsible-1" aria-hidden="true" class="usa-accordion-content">
              <ul>
                <li><%= raw I18n.t('txt.download_adobe') %></li>
                <li><%= raw I18n.t('txt.able_to_print') %></li>
              </ul>
              <p><%= raw I18n.t('txt.complete_all_fields') %></p>
              <p><%= raw I18n.t('txt.after_you_complete') %></p>
              <p><%= raw I18n.t('txt.after_print') %></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="button_row">
  <div class="back"><%= link_to t('txt.button.back').html_safe, registrant_step_3_path(@registrant, :show_fields=>"1") %></div>
   <div class="next"><%= link_to t('txt.button.submit').html_safe, registrant_step_4_path(@registrant, :show_fields=>"1") %></div>
</div>