<%= render partial: "layouts/usa_gov_header_nav" %>

<h1><%= t('txt.registration.step_3_header') %></h1>

<%= form_for(@registrant, :url => registrant_step_3_path(@registrant)) do |form| %>
<div class="text"><%= t("txt.required_fields") %></div>

<% if form.object.errors.count > 0 %>
  <div id="errors" class="alert" tabindex="-1">
    <p> Please correct the following error(s):</p>
    <ol>
      <% if !form.object.errors[:date_of_birth].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.date_of_birth")} #{form.object.errors[:date_of_birth].join("\n")}", "#", onclick: 'event.preventDefault(); $("#date_of_birth_1").focus();', tabindex: -1 %></li>
      <% end %>

      <% if !form.object.errors[:us_citizen].empty? %>
        <li class="individual_error"><%= link_to "Your registration cannot be completed because you did not check
          the box indicating that you are a U.S. citizen. You must be a U.S. citizen
          to register to vote. If you are a citizen, please check 'I am a U.S. citizen' below.", "#", onclick: 'event.preventDefault(); $("#registrant_us_citizen").focus();', tabindex: -1 %></li>
      <% end %>

      <% if !form.object.errors[:will_be_18_by_election].empty? %>
        <li class="individual_error"><%= link_to "
      You must be 18 years old by the date of the next election.  If you will be 18 or older by the time of the next election, please check ' I will be 18 by the next election day.' below.", "#", onclick: 'event.preventDefault(); $("#registrant_will_be_18_by_election").focus();', tabindex: -1 %></li>
      <% end %>
    </ol>
  </div>
<% end %>
  
<div class="flat">
  <div class="width_f">
    <div class="online_reg_notice">
      <p class="voter_message"><%= t("txt.registration.instructions.us_citizen") %>:</p>
      <ul>
        <li><%= t("txt.registration.instructions.purpose_1") %></li>
        <li><%= t("txt.registration.instructions.purpose_2") %></li>
        <li><%= t("txt.registration.instructions.purpose_3") %></li>
      </ul>

    </div>
  </div>
</div>

  <fieldset>
    <legend><%= I18n.t('txt.registration.eligibility') %></legend>
    <div class="stacked">
      <div class="width_f">
      <span class="tooltip"><%= t("txt.registration.tooltips.date_of_birth").html_safe%></span>
        <br/>
        <br/>
        <fieldset class="no_border">
          <legend>
          <%= t("activerecord.attributes.registrant.date_of_birth") %></legend>
          <span class="usa-form-hint usa-datefield-hint" id="dobHint">For example: 4 28 1986</span>
          <div class="usa-date-of-birth">
            <div class="usa-datefield usa-form-group usa-form-group-month
            <%= "has_error" if !form.object.errors[:date_of_birth].empty? %>">
              <label for="date_of_birth_1"><span class="required" title="required">*</span> Month</label>
              <input aria-describedby="dobHint" class="usa-form-control" id="date_of_birth_1" name="registrant[date_of_birth(2i)]" pattern="0?[1-9]|1[012]" type="number" value="<%= @registrant.date_of_birth.try(:month) %>" maxlength="2">
            </div>
            <div class="usa-datefield usa-form-group usa-form-group-day
            <%= "has_error" if !form.object.errors[:date_of_birth].empty? %>">
              <label for="date_of_birth_2"><span class="required" title="required">*</span> Day</label>
              <input aria-describedby="dobHint" class="usa-form-control" id="date_of_birth_2" name="registrant[date_of_birth(3i)]" pattern="0?[1-9]|1[0-9]|2[0-9]|3[01]" type="number" value="<%= @registrant.date_of_birth.try(:day) %>" maxlength="2">
            </div>

            <div class="usa-datefield usa-form-group usa-form-group-year
               <%= "has_error" if !form.object.errors[:date_of_birth].empty?  %>">
              <label for="date_of_birth_3"><span class="required" title="required">*</span> Year</label>
              <input aria-describedby="dobHint" class="usa-form-control" id="date_of_birth_3" name="registrant[date_of_birth(1i)]" pattern="[0-9]{4}" type="number" value="<%= @registrant.date_of_birth.try(:year) %>" maxlength="4">
            </div>
          </div>

        </fieldset>
      </div>
    </div>
  </fieldset>
  <fieldset>
  <legend><%= t('txt.registration.tooltips.check_all') %></legend>
    <div class="stacked">
      <div class="width_f">
        <p><%= t('txt.registration.tooltips.check_all_more') %></p>
        <ul class="checkbox checkbox-step-1">
          <li <% if !form.object.errors[:us_citizen].empty? %>class="checkbox_error" <% end %>>
              <%= form.check_box :us_citizen %>
              <label for="registrant_us_citizen" class: "check-box-step-1">
                <span class="required" title="required">*</span> <%= t("activerecord.attributes.registrant.us_citizen") %>
              </label>
          </li>
          <li <% if !form.object.errors[:has_state_license].empty? %>class="checkbox_error" <% end %>> 
              <%= form.check_box :has_state_license %>
              <label for="registrant_has_state_license" class: "check-box-step-1">
                <!-- <span class="required" title="required">*</span> -->
                <%= t("activerecord.attributes.registrant.has_state_license") %>
              </label>
          </li>
          <li <% if !form.object.errors[:will_be_18_by_election].empty? %>class="checkbox_error" <% end %>>
              <%= form.check_box :will_be_18_by_election %>
              <label for="registrant_will_be_18_by_election" class: "check-box-step-1">
                <% if @registrant.age && @registrant.age < 18 %>
                <span class="required" title="required">*</span>
                <% end %>
                <%= t("activerecord.attributes.registrant.will_be_18_by_election") %>
              </label>
          </li>
          <li>
              <%= form.check_box :first_registration %>
              <label for="registrant_first_registration" class: "check-box-step-1">
                <%= t("activerecord.attributes.registrant.first_registration") %></label>
          </li>
        </ul>
      </div>
    </div>
  </fieldset>
  <div class="button_row centered">
    <%= rollover_button(:next_step, I18n.t('txt.button.eligibility').html_safe) %>
  </div>
<% end %>