<%- if @registrant.in_ovr_flow? %>
  <h1><%= t('txt.registration.step_4_header') %></h1>
<%- else %>
  <h1><%= t('txt.registration.step_3_header') %></h1>
<%- end %>

<%= form_for(@registrant, :url => registrant_step_3_path(@registrant)) do |form| %>
<div class="text"><%= t("txt.required_fields") %></div>
<% if form.object.errors.count > 0 %>
  <h1 id="errors" class="alert" tabindex="-1">
    <p>The following errors were present on the page:</p>
    <ol>
      <% if !form.object.errors[:state_id_number].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.state_id_number")} #{form.object.errors[:state_id_number].join("\n")}", 'javascript:$("#registrant_state_id_number").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:party].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.party")} #{form.object.errors[:party].join("\n")}", 'javascript:$("#registrant_party").focus();', tabindex: -1 %></li>
      <% end %>
    </ol>
  </h1>
<% end %>
  <%- if @registrant.in_ovr_flow? %>
    <%= render :partial=> 'registrants/email_opt_ins', :locals=>{:form=>form} %>
    <%= render :partial=> 'registrants/phone_opt_ins', :locals=>{:form=>form, :show_hr=>true} %>
    
    <%= render :partial=> 'registrants/survey_and_volunteer', :locals=>{:form=>form} %>
    
  <%- else %>
    <%= render :partial=> "registrants/state_id_number", :locals=>{:form=>form} %>
  
    <%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>
    

  <%- end %>

  <div class="button_row">
    <div class="back"><%= link_to t('txt.button.back').html_safe, registrant_step_2_path(@registrant) %></div>
    <%= rollover_button(:review, I18n.t('txt.button.review')) %>
  </div>
  
<% end %>
