<%= render partial: "layouts/usa_gov_header_nav" %>

<h1><%= t('txt.registration.step_3_header') %></h1>
<%= form_for(@registrant, :url => registrant_step_2_path(@registrant)) do |form| %>
<% if !@registrant.us_citizen?  %>
  <div class="flat">
    <div class="width_f">
      <div class="online_reg_notice">
        <h2 class="section_header"><%= I18n.t('txt.your_eligibility') %></h2>
        <p><%= I18n.t('txt.sorry_eligibility') %></p>
        <% if !@registrant.us_citizen? %>
          <p><%= I18n.t('txt.ineligible_citizenship') %></p>
        <% end %>
      </div>
    </div>
  </div>
<% elsif @registrant.age != nil && @registrant.age < 18  && !@registrant.will_be_18_by_election  %>
  <div class="flat">
    <div class="width_f">
      <div class="online_reg_notice">
        <h2 class="section_header"><%= I18n.t('txt.your_eligibility') %></h2>
        <p><%= I18n.t('txt.sorry_eligibility') %></p>
        <p><%= I18n.t('txt.ineligible_age_1') %></p>
        <p><%= I18n.t('txt.ineligible_age_2') %></p>

      </div>
    </div>
  </div>
  <%= render partial: "requirements" %>
<% else %>
  <div class="flat">
    <div class="width_f">
      <div class="online_reg_notice">
        <h2 class="section_header"><%= I18n.t('txt.your_eligibility') %></h2>
        <p><%= I18n.t('txt.are_eligible') %></p>
      </div>
    </div>
  </div>
  <%= render partial: "requirements" %>
<% end %>
<% end %>
