<%= render partial: "layouts/usa_gov_header_nav" %>
<div class="review">
  <div class="flat">
    <div class="width_f">
      <h1><%= I18n.t('txt.registration.download_header') %></h1>
      <div class="download">
        <ul>
          <li><%= raw I18n.t('txt.download_one') %></li>
          <li><%= raw I18n.t('txt.download_two') %></li>
          <li><%= raw I18n.t('txt.download_three') %></li>
          <li><%= raw I18n.t('txt.download_four') %></li>
          <li><%= raw I18n.t('txt.download_five') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<h2 id="pagesurvey-hdr">What you think matters!</h2>
<div id="pagesurvey-trgt">
</div>
<% if I18n.locale == :en %>
<div id="pagesurvey-ombnum"><a href="https://usa.gov/notices#item-211334">Form Approved OMB#3090-0297 Exp. Date 06/30/2016</a></div>
<noscript> <iframe src="https://survey.usa.gov/surveys/311" title="Page usefulness survey"></iframe> </noscript>
<script type="text/javascript" src="https://survey.usa.gov/widget/widget.js?survey_id=311&amp;target_id=pagesurvey-trgt"></script>
<% else %>
<div id="pagesurvey-ombnum"><a href="https://usa.gov/notices#item-211334">Form Approved OMB#3090-0297 Exp. Date 06/30/2016</a></div>
<noscript> <iframe src="https://survey.usa.gov/surveys/321" title="Page usefulness survey"></iframe> </noscript>
<script type="text/javascript" src="https://survey.usa.gov/widget/widget.js?survey_id=321&amp;target_id=pagesurvey-trgt"></script>
<% end %>