<%= render partial: "layouts/usa_gov_header_nav" %>
<div class="review">
  <div class="flat">
    <div class="width_f">
      <h1><%= I18n.t('txt.registration.download_header') %></h1>
      <div class="download">
        <ul>
          <li><%= raw I18n.t('txt.download_one') %></li>
          <li><%= raw I18n.t('txt.download_two') %></li>
          <li><%= raw I18n.t('txt.download_three') %></li>
          <li><%= raw I18n.t('txt.download_four') %></li>
          <li><%= raw I18n.t('txt.download_five') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>