

<h1><%= t('txt.registration.step_2_header') %></h1>

<%= form_for(@registrant, :url => registrant_step_2_path(@registrant)) do |form| %>
<div class="text"><%= t("txt.required_fields") %></div>
<% if form.object.errors.count > 0 %>
  <div id="errors" class="alert" tabindex="-1">
    <p> The following errors were present on the page:</p>
    <ol>
      <% if !form.object.errors[:email_address].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.email_address")} #{form.object.errors[:email_address].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_email_address").focus();' %></li>
      <% end %>
      <% if !form.object.errors[:date_of_birth].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.date_of_birth")} #{form.object.errors[:date_of_birth].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_date_of_birth").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:us_citizen].empty? %>
        <li class="individual_error"><%= link_to " #{form.object.errors[:us_citizen].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_us_citizen").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:has_state_license].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.has_state_license")} #{form.object.errors[:has_state_license].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_has_state_license").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:will_be_18_by_election].empty? %>
        <li class="individual_error"><%= link_to "#{form.object.errors[:will_be_18_by_election].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_will_be_18_by_election").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:name_title].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.name_title")} #{form.object.errors[:name_title].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_name_title").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:first_name].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.first_name")} #{form.object.errors[:first_name].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_first_name").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:last_name].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.last_name")} #{form.object.errors[:last_name].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_last_name").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:home_address].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.home_address")} #{form.object.errors[:home_address].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_home_address").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:home_city].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.home_city")} #{form.object.errors[:home_city].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_home_city").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:home_zip_code].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.home_zip_code")} #{form.object.errors[:home_zip_code].join("\n")}","#", onclick: 'event.preventDefault(); $("#registrant_home_zip_code").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:race].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.race")} #{form.object.errors[:race].join("\n")}","#", onclick: 'event.preventDefault(); $("#registrant_race").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:party].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.party")} #{form.object.errors[:party].join("\n")}", "#", onclick: 'event.preventDefault(); $("#registrant_party").focus();', tabindex: -1 %></li>
      <% end %>
    </ol>
  </div>
<% end %>
  
<div class="flat">
  <div class="width_f">
    <div id="online_reg_notice">
      <p class="voter_message"><%= t("txt.registration.online_voter") %>:</p>
        <ul>

          <% if @online_reg_url %>
            <li><%= t('txt.continue_with_state') %> <%= link_to @online_reg_text, @online_reg_url %></li>

          <% end %>
          <li><%=  t('txt.continue_with_form') %> </li>
        </ul>
      <p class="voter_message"><%= raw t("txt.registration.instructions.overseas_military") %></p>
      <p class="voter_message"><%= raw t("txt.registration.instructions.requirements") %></p>
      <p class="voter_message"><%= raw t("txt.registration.instructions.after_finish") %></p>
      <p class="voter_message"><%= raw t("txt.registration.instructions.please_note") %></p>
      <p class="voter_message"><%= raw t("txt.registration.instructions.each_state") %></p>
      <p class="voter_message"><%= raw t("txt.registration.instructions.first_time_register") %> <br/><%= raw t("txt.registration.instructions.first_time_register_ids") %></p>
      <p class="voter_message"><%= raw t("txt.registration.instructions.first_time_exempt") %></p>

    </div>
  </div>
</div>
  <div class="flat">
    <div class="width_f">
      <label for="registrant_email_address">
        <span class="required" title="required">*</span>
        <%= t("activerecord.attributes.registrant.email_address") %>
        <br/><div class="tooltip"><%= t("txt.registration.tooltips.email_address")%></div></label>  
      <%= field_div form, :email_address %>
    </div>
  </div>
  <div class="flat">
    <div class="width_f">
      <label for="registrant_date_of_birth">
        <span class="required" title="required">*</span>
        <%= t("activerecord.attributes.registrant.date_of_birth") %>
      </label>
      <span class="example"><%= t("txt.registration.tooltips.date_of_birth_format") %>
      </span>
      <br/><span class="tooltip"><%= t("txt.registration.tooltips.date_of_birth").html_safe%></span>
      <%= field_div form, :date_of_birth, :value => form.object.form_date_of_birth %>
      <% if !form.object.errors[:date_of_birth].empty? %>
        <!-- <span class="error"><%= form.object.errors[:date_of_birth].join("\n") %></span> -->
      <% else %>
      <% end %>
    </div>
  </div>
  <hr id="hrbreaker"></hr>
  <fieldset>
  <legend><%= t('txt.registration.tooltips.check_all') %></legend>
    <div class="checkbox checkbox-step-1">
      <div <% if !form.object.errors[:us_citizen].empty? %>class="checkbox_error" <% end %>>
          <%= form.check_box :us_citizen %>
          <label for="registrant_us_citizen" class: "check-box-step-1">
            <span class="required" title="required">*</span>
            <%= t("activerecord.attributes.registrant.us_citizen") %>
          </label>
      </div>
    </div>
    <div class="checkbox checkbox-step-1">
      <div <% if !form.object.errors[:has_state_license].empty? %>class="checkbox_error" <% end %>> 
          <%= form.check_box :has_state_license %>
          <label for="registrant_has_state_license" class: "check-box-step-1">
            <!-- <span class="required" title="required">*</span> -->
            <%= t("activerecord.attributes.registrant.has_state_license") %>
          </label>
      </div>
    </div>
    <div class="checkbox checkbox-step-1">
      <div <% if !form.object.errors[:will_be_18_by_election].empty? %>class="checkbox_error" <% end %>>
          <%= form.check_box :will_be_18_by_election %>
          <label for="registrant_will_be_18_by_election" class: "check-box-step-1">
            <span class="required" title="required">*</span>
            <%= t("activerecord.attributes.registrant.will_be_18_by_election") %>
          </label>
      </div>
    </div>
    <div class="checkbox checkbox-step-1">
      <div>
          <%= form.check_box :first_registration %>
          <label for="registrant_first_registration" class: "check-box-step-1">
            <%= t("activerecord.attributes.registrant.first_registration") %></label>
      </div>
    </div>

  </fieldset>
  
  <fieldset>
    <legend><%= I18n.t('txt.registration.name') %></legend>
    <br/><br/><span class="tooltip"><%= t("txt.registration.tooltips.registrant_name")%></span>

    <div class="stacked">
      <div class="width_d">
        <label for="registrant_name_title">
          <span class="required" title="required">*</span>
          <%= t("activerecord.attributes.registrant.name_title") %></label>
        <%= select_div form, :name_title, @registrant.titles, :include_blank => true %>
        <!-- <span class="error"><%= form.object.errors[:name_title].join("\n") %></span> -->
      </div>
      <div class="width_b">
        <label for="registrant_first_name">
          <span class="required" title="required">*</span>
          <%= t("activerecord.attributes.registrant.first_name") %>
        </label>   
        <%= field_div form, :first_name %>
        <!-- <span class="error"><%= form.object.errors[:first_name].join("\n") %></span> -->
      </div>
      <div class="width_c">
        <%= form.label :middle_name %>
        <%= field_div form, :middle_name %>
      </div>
      <div class="width_b">
        <label for="registrant_last_name">
          <span class="required" title="required">*</span>
          <%= t("activerecord.attributes.registrant.last_name") %></label>
        <%= field_div form, :last_name %>
        <!-- <span class="error"><%= form.object.errors[:last_name].join("\n") %></span> -->
      </div>
      <div class="width_d">
        <%= form.label :name_suffix %>
        <div><%= form.select :name_suffix, @registrant.suffixes, :include_blank => t('txt.registration.select_none') %></div>
      </div>
    </div>
  </fieldset>

  <%= render :partial=> "registrants/home_address", :locals=>{:form=>form} %>
  
  <%- if @registrant.use_short_form? %>
    <%= render(:partial => 'previous', :locals => {:form => form, :show_hr=>false}) unless @registrant.first_registration? %>
    
    <%= render :partial=> "registrants/state_id_number", :locals=>{:form=>form, :include_race_and_party=>true} %>
    
    <%= render :partial=> "registrants/phone", :locals=>{:form=>form} %>
    <%= render :partial=> 'registrants/phone_opt_ins', :locals=>{:form=>form, :show_hr=>true} %>
    <%= render :partial=> 'registrants/email_opt_ins', :locals=>{:form=>form} %>
    
    <%= render :partial=>'registrants/survey_and_volunteer', :locals=>{:form=>form} %>      
  
    <%#= rollover_button(:prepare, I18n.t('txt.button.prepare')) %>
    
  <%- else %>
    <%= render(:partial => 'previous', :locals => {:form => form}) unless @registrant.first_registration? %>
    <%= render :partial=> "registrants/phone", :locals=>{:form=>form} %>
    
    <%#= rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) %>
  <%- end %>

  <%= form.hidden_field :state_id_number, value: "---------" %>
  <%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>
  <div class="button_row">
    <div class="back"><%= link_to t('txt.button.back').html_safe, registrant_path(@registrant) %></div>
    <%= rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) %>
  </div>
<% end %>
