

<h1><%= t('txt.registration.step_2_header') %></h1>

<%= form_for(@registrant, :url => registrant_step_2_path(@registrant)) do |form| %>

  <% if @registrant.ineligible_non_participating_state %>
  <div class="flat">
    <div class="width_f">
      <div class="online_reg_notice">
        <h2 class="section_header">Sorry, you are not eligible to register to vote with this form for the following reason(s): </h2>
        <ul>
          <li>North Dakota, Wyoming, and the U.S. territories (Puerto Rico, U.S. Virgin Islands, American Samoa, and Guam) do not accept the National Mail Voter Registration Form. New Hampshire will accept this form only as a request for their own absentee voter mail-in registration form.</li>
          <li>If you live in one of these states or territories, contact your <a href="https://www.usa.gov/election-office">local election office</a> to find out how to register.</li>
        </ul>
      </div>
    </div>
  </div>

  <% else %>
    <div class="flat">
      <div class="width_f">
        <div class="online_reg_notice">
          <h2 class="section_header"><%= t("txt.registration.online_voter") %>:</h2>
            <ul class="registration_options">
              <% if @online_reg_url %>
                <li>
                  <p><%= t('txt.continue_with_state') %></p>
                  <div class="online-reg"><%= link_to @online_reg_text, @online_reg_url, :class =>"button" %></div>
                </li>
                <li>
                  <p>Fill out the <%= link_to "National Mail Voter Registration Form", registrant_step_3_path(@registrant) %> on this website. You will complete, print, write in your ID number (your social security or driver's license number), sign and mail to your local election office. </p>
                  <p>Completing the form will take about 5 minutes.</p>
                </li>
              <% else %>
                <li>
                  <p>Fill out the National Mail Voter Registration Form on this website. You will complete, print, write in your ID number (your social security or driver's license number), sign and mail to your local election office. </p>
                  <p>Completing the form will take about 5 minutes.</p>
                  <div class="online-reg"><%= link_to "National Mail Voter Registration Form", registrant_step_3_path(@registrant), :class =>"button" %></div>
                </li>
              <% end %>
              
            </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
