

<h1><%= t('txt.registration.step_2_header') %></h1>

<%= form_for(@registrant, :url => registrant_step_2_path(@registrant)) do |form| %>

  <% if @registrant.ineligible_non_participating_state %>
  <div class="flat">
    <div class="width_f">
      <div class="online_reg_notice">
        <h2 class="section_header"><%= I18n.t('txt.registration.ineligible_header') %>: </h2>
        <ul>
          <li><%= I18n.t('txt.registration.ineligible_state') %></li>
          <li><%= I18n.t('txt.registration.ineligible_state_contact') %></li>
        </ul>
      </div>
    </div>
  </div>

  <% else %>
    <div class="flat">
      <div class="width_f">
        <div class="online_reg_notice">
          <h2 class="section_header"><%= t("txt.registration.online_voter") %>:</h2>
            <ul class="registration_options">
              <% if @online_reg_url %>
                <li>
                  <p><%= t('txt.continue_with_state') %></p>
                  <div class="online-reg"><%= link_to @online_reg_text, @online_reg_url, :class =>"button" %></div>
                </li>
                <li>
                  <p><%= I18n.t('txt.continue_with_form_link_part_1') %> <%= link_to I18n.t('txt.form_name'), registrant_step_3_path(@registrant) %> <%= I18n.t('txt.continue_with_form_link_part_2') %> </p>
                  <p><%= I18n.t('txt.about_5_minutes') %></p>
                </li>
              <% else %>
                <li>
                  <p><%= I18n.t('txt.continue_with_form') %></p>
                  <p><%= I18n.t('txt.about_5_minutes') %></p>
                  <div class="online-reg"><%= link_to I18n.t('txt.form_name'), registrant_step_3_path(@registrant), :class =>"button" %></div>
                </li>
              <% end %>
              
            </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
