

<h1><%= t('txt.registration.step_2_header') %></h1>

<%= form_for(@registrant, :url => registrant_step_2_path(@registrant)) do |form| %>
<div class="text"><%= t("txt.required_fields") %></div>
<% if form.object.errors.count > 0 %>
  <h1 id="errors" class="alert" tabindex="-1">
    <p> The following errors were present on the page:</p>
    <ol>
      <% if !form.object.errors[:name_title].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.name_title")} #{form.object.errors[:name_title].join("\n")}", 'javascript:$("#registrant_name_title").focus();' %></li>
      <% end %>
      <% if !form.object.errors[:first_name].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.first_name")} #{form.object.errors[:first_name].join("\n")}", 'javascript:$("#registrant_first_name").focus();' %></li>
      <% end %>
      <% if !form.object.errors[:last_name].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.last_name")} #{form.object.errors[:last_name].join("\n")}", 'javascript:$("#registrant_last_name").focus();' %></li>
      <% end %>
      <% if !form.object.errors[:home_address].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.home_address")} #{form.object.errors[:home_address].join("\n")}", 'javascript:$("#registrant_home_address").focus();' %></li>
      <% end %>
      <% if !form.object.errors[:home_city].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.home_city")} #{form.object.errors[:home_city].join("\n")}", 'javascript:$("#registrant_home_city").focus();' %></li>
      <% end %>
    </ol>
  </h1>
<% end %>
  <% if @online_reg_url %>
  <div id="online_reg_notice" class="success">
    <p><%= t("txt.registration.online_voter") %>
    <%= link_to @online_reg_text, @online_reg_url %></p>
  </div>
  <% end %>
  <fieldset>
    <legend><%= I18n.t('txt.registration.name') %></legend>
    <span class="tooltip"><%= t("txt.registration.tooltips.registrant_name")%></span>
    <ul class="stacked">
      <li class="width_d">
        <%= "#{form.label :name_title}<span class=\"required\" title=\"required\">*</span>".html_safe %>
        <%= select_div form, :name_title, @registrant.titles, :include_blank => true %>
        <!-- <span class="error"><%= form.object.errors[:name_title].join("\n") %></span> -->
      </li>
      <li class="width_b">
        <%= "#{form.label :first_name}<span class=\"required\" title=\"required\">*</span>".html_safe %>
        <%= field_div form, :first_name %>
        <!-- <span class="error"><%= form.object.errors[:first_name].join("\n") %></span> -->
      </li>
      <li class="width_c">
        <%= form.label :middle_name %>
        <%= field_div form, :middle_name %>
      </li>
      <li class="width_b">
        <%= "#{form.label :last_name}".html_safe %>
        <%= field_div form, :last_name %>
        <!-- <span class="error"><%= form.object.errors[:last_name].join("\n") %></span> -->
      </li>
      <li class="width_d">
        <%= form.label :name_suffix %>
        <div><%= form.select :name_suffix, @registrant.suffixes, :include_blank => t('txt.registration.select_none') %></div>
      </li>
    </ul>
  </fieldset>

  <%= render :partial=> "registrants/home_address", :locals=>{:form=>form} %>
  
  <%- if @registrant.use_short_form? %>
    <%= render(:partial => 'previous', :locals => {:form => form, :show_hr=>false}) unless @registrant.first_registration? %>
    
    <%= render :partial=> "registrants/state_id_number", :locals=>{:form=>form, :include_race_and_party=>true} %>
    
    <%= render :partial=> "registrants/phone", :locals=>{:form=>form} %>
    <%= render :partial=> 'registrants/phone_opt_ins', :locals=>{:form=>form, :show_hr=>true} %>
    <%= render :partial=> 'registrants/email_opt_ins', :locals=>{:form=>form} %>
    
    <%= render :partial=>'registrants/survey_and_volunteer', :locals=>{:form=>form} %>      
  
    <%#= rollover_button(:prepare, I18n.t('txt.button.prepare')) %>
    
  <%- else %>
    <%= render(:partial => 'previous', :locals => {:form => form}) unless @registrant.first_registration? %>
    <%= render :partial=> "registrants/phone", :locals=>{:form=>form} %>
    
    <%#= rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) %>
  <%- end %>
  <div class="button_row">
    <div class="back"><%= link_to t('txt.button.back').html_safe, registrant_path(@registrant) %></div>
    <%= rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) %>
  </div>
<% end %>
