<%= hidden_field_tag "partner", @partner_id %>
<%= hidden_field_tag "locale", @locale %>
<%= hidden_field_tag "source", @source %>
<%= hidden_field_tag "tracking", @tracking %>
<%= hidden_field_tag "short_form", @short_form %>
<%= hidden_field_tag "collectemailaddress", @collect_email_address %>
<%= form.hidden_field :under_18_ok, :value => 0 %>
<div class="text"><%= t("txt.required_fields") %></div>

<% content_for :head do %>
<script>
$(document).ready(function() {
  $('#registrant_javascript_disabled').remove();
});
</script>
<% end %>
<%= form.hidden_field :javascript_disabled %>
<% if form.object.errors.count > 0 %>
  <h1 id="errors" class="alert" tabindex="-1">
    <p>The following errors were present on the page:</p>
    <ol>
      <% if !form.object.errors[:email_address].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.email_address")} #{form.object.errors[:email_address].join("\n")}", 'javascript:$("#registrant_email_address").focus();' %></li>
      <% end %>
      <% if !form.object.errors[:home_zip_code].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.home_zip_code")} #{form.object.errors[:home_zip_code].join("\n")}",'javascript:$("#registrant_home_zip_code").focus();', tabindex: -1 %></li>
      <% end %>
      <% if !form.object.errors[:date_of_birth].empty? %>
        <li class="individual_error"><%= link_to "#{t("activerecord.attributes.registrant.date_of_birth")} #{form.object.errors[:date_of_birth].join("\n")}", 'javascript:$("#registrant_date_of_birth").focus();', tabindex: -1 %></li>
      <% end %>
    </ol>
  </h1>
<% end %>
<%- if @registrant.collect_email_address? %>
  <ul class="flat">
    <li class="width_f">
      <label for="registrant_email_address"><%= t("activerecord.attributes.registrant.email_address") %><span class="required" title="required">*</span></label>  
      <br/><div class="tooltip"><%= t("txt.registration.tooltips.email_address")%></div>
      <%= field_div form, :email_address %>
    </li>
  </ul>
<%- end %>
<ul class="flat">
  <li class="width_f">
    <label for="registrant_home_zip_code"><%= t("activerecord.attributes.registrant.home_zip_code") %><span class="required" title="required">*</span></label>
    <br/><span class="tooltip"><%= t("txt.registration.tooltips.home_zip_code")%></span>
    <%= field_div form, :home_zip_code %>
    <!-- <span class="error"><%= form.object.errors[:home_zip_code].join("\n") %></span> -->
  </li>
</ul>
<ul class="flat">
  <li class="width_f">
    <label for="registrant_date_of_birth"><%= t("activerecord.attributes.registrant.date_of_birth") %><span class="required" title="required">*</span></label>
    <span class="example"><%= t("txt.registration.tooltips.date_of_birth_format") %></span>
    <br/><span class="tooltip"><%= t("txt.registration.tooltips.date_of_birth").html_safe%></span>
    <%= field_div form, :date_of_birth, :value => form.object.form_date_of_birth %>
    <% if !form.object.errors[:date_of_birth].empty? %>
      <!-- <span class="error"><%= form.object.errors[:date_of_birth].join("\n") %></span> -->
    <% else %>
    <% end %>
  </li>
</ul>
<ul class="checkbox checkbox-step-1">
  <li>
      <h2>Check all that apply:</h2>
  </li>
</ul>
<ul class="checkbox checkbox-step-1">
  <li>
      <%= form.check_box :us_citizen %>
      <%= form.label :us_citizen, {}, class: "check-box-step-1" %> 
      <span class="error"><%= form.object.errors[:us_citizen].join("\n") %></span>
  </li>
</ul>



<ul class="checkbox checkbox-step-1">
  <li>
      <%= form.check_box :has_state_license %>
      <%= form.label :has_state_license, {}, class: "check-box-step-1" %> 
      <span class="error"><%= form.object.errors[:has_state_license].join("\n") %></span>
  </li>
</ul>

<ul class="checkbox checkbox-step-1">
  <li>
      <%= form.check_box :will_be_18_by_election %>
      <%= form.label :will_be_18_by_election, {}, class: "check-box-step-1" %>
      <span class="error"><%= form.object.errors[:will_be_18_by_election].join("\n") %></span>
  </li>
</ul>



<ul class="checkbox checkbox-step-1">
  <li>
      <%= form.check_box :first_registration %>
      <%= form.label :first_registration, class: "check-box-step-1" %> 
      <span class="error"><%= form.object.errors[:first_registration].join("\n") %></span>
  </li>
</ul>
