 <fieldset>
    <legend><%= I18n.t('txt.registration.race_and_party') %></legend>
  <div class="flat race-dropdown">
    <div>
      <label for="registrant_race">
        <% if @registrant.requires_race? %>
          <span class="required" title="required">*</span>
        <% end %>
        <%= t("activerecord.attributes.registrant.race") %>
        
        <%= select_div form, :race, @registrant.races, :include_blank => true %>
      </label>
    </div>
  </div>
  <div class="flat party-dropdown">
      <div>
        <label for="registrant_party">
          <% if @registrant.requires_party? %>
            <span class="required" title="required">*</span>
          <% end %>  
          <%= t("activerecord.attributes.registrant.party") %>
        
        </label>
         <%= select_div form, :party, @state_parties.sort, :include_blank => true %>
        <!-- <span class="error"><%= form.object.errors[:party].join("\n") %></span> -->
      </div>
    </div>
</fieldset>