 <fieldset>
    <legend><%= I18n.t('txt.registration.race_and_party') %></legend>
  <ul class="flat race-dropdown">
    <li>
      <%= form.label :race %>
      <span class="tooltip"><%= t("txt.registration.tooltips.race")%></span>
      <div><%= form.select :race, @registrant.races, :include_blank => true %></div>
      <span class="error"><%= form.object.errors[:race].join("\n") %></span>
    </li>
  </ul>
  <% if @state_parties && @state_parties.any? %>
    <ul class="flat party-dropdown">
      <li>
        <%= form.label :party %>
        <span class="tooltip"><%= t("txt.registration.tooltips.party")%></span>
        <%= select_div form, :party, @state_parties, :include_blank => true %>
        <!-- <span class="error"><%= form.object.errors[:party].join("\n") %></span> -->
      </li>
    </ul>
  <% end %>
</fieldset>