 <fieldset>
    <legend><%= I18n.t('txt.registration.race') %></legend>
  <ul class="flat race-dropdown">
    <li>
      <label for="registrant_race"><%= t("activerecord.attributes.registrant.race") %>
        <% if @registrant.requires_race? %>
          <span class="required" title="required">*</span>
        <% end %>
        <%= select_div form, :race, @registrant.races, :include_blank => true %>
      </label>
    </li>
  </ul>
</fieldset>
<% if @state_parties && @state_parties.any? %>
  <fieldset>
    <legend><%= I18n.t('txt.registration.party') %></legend>

    <ul class="flat party-dropdown">
      <li>
        <label for="registrant_party"><%= t("activerecord.attributes.registrant.party") %>
        <% if @registrant.requires_party? %>
          <span class="required" title="required">*</span>
        <% end %>  
        </label>
         <%= select_div form, :party, @state_parties, :include_blank => true %>
        <!-- <span class="error"><%= form.object.errors[:party].join("\n") %></span> -->
      </li>
    </ul>
  </fieldset>
<% end %>