 <fieldset>
    <legend><%= I18n.t('txt.registration.race_and_party') %></legend>
  <div class="flat race-dropdown">
    <div>
      <label for="registrant_race">
        <% if @registrant.requires_race? %>
          <span class="required" title="required">*</span>
        <% end %>
        <%= t("activerecord.attributes.registrant.race") %>
      </label>
      
        <p>A few states ask for your race  or ethnic group, in order to administer the Federal Voting Rights Act.  Please make a choice that best describes you from the list below:</p>
        <%= select_div form, :race, @registrant.races, :include_blank => true %>
    </div>
  </div>
  <div class="flat party-dropdown">
      <div>
        <label for="registrant_party">
          <% if @registrant.requires_party? %>
            <span class="required" title="required">*</span>
          <% end %>  
          <%= t("activerecord.attributes.registrant.party") %>
        
        </label>
        <p>In some states, you must register with a party if you  want to  take part in that party’s primary election, caucus, or convention.  If you do not want to register with a party, select “none”. Do not select “independent” if you  mean “no party,” because this  might  be confused with the name of a political party in your state.</p><p> Note: If  you do  not register with a party, you can still  vote in general  elections and nonpartisan (nonparty) primary elections.</p>
         <%= select_div form, :party, @state_parties.sort, :include_blank => true %>
        <!-- <span class="error"><%= form.object.errors[:party].join("\n") %></span> -->
      </div>
    </div>
</fieldset>