<%- include_race_and_party ||= false %>
<%- id_size = include_race_and_party ? 35 : 20 %>
  
<!-- <fieldset>
    <legend><%= I18n.t('txt.registration.identification_header') %></legend>
    <ul class="flat">
      <li>
        <label for="registrant_state_id_number"><%= t("activerecord.attributes.registrant.state_id_number") %><span class="required" title="required">*</span></label>
       <span class="example"><%= t('txt.registration.tooltips.state_id_format') %></span>
        <br/><span class="tooltip"><%= @state_id_tooltip %></span>
        <%= field_div form, :state_id_number, :size => id_size, maxlength: id_size %>
        <span class="error"><%= form.object.errors[:state_id_number].join("\n") %></span>
      </li>
    </ul>
  </fieldset> -->
  <%= form.hidden_field :state_id_number, value: "999999999" %>
<%- if include_race_and_party %>
  <%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>
 
<%- else %>
  <hr/>
<%-end %>